<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726464770780-1breo633gmhhhkbtlm710f1nvh5jgbjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726464770780-1breo633gmhhhkbtlm710f1nvh5jgbjr</string>
	<key>API_KEY</key>
	<string>AIzaSyCSdWm6LonrTB3I3sh3bpcg7ToBE3Q9a6o</string>
	<key>GCM_SENDER_ID</key>
	<string>726464770780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.btarge.mobilicbari</string>
	<key>PROJECT_ID</key>
	<string>mobil-icbari</string>
	<key>STORAGE_BUCKET</key>
	<string>mobil-icbari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726464770780:ios:0e13ec4d402e232317ba19</string>
</dict>
</plist>